<div class="comment-top">
    <h4>Bir Yorum Yapın</h4>
     <div class="comment-bottom">
         <form action="/Comment/PartialAddComment/" method="post"> @* burdaki açılan partialviev sayfasının önüğne geçmemiz lazım*@
             <input class="form-control" type="text" name="CommentUserName" placeholder="adınız soyadınız" required="">
             <input class="form-control" type="text" name="CommentTitle" placeholder="konu" required="">
             <textarea class="form-control" name="CommentContent" placeholder="yorumunuz.." required=""></textarea>
             <button type="submit" class="btn btn-primary submit">Yorum Yap</button>




         </form>








     </div>










</div>