
<div class="tech-btm">
    
    <form action="/NewsLetter/SubscribeMail/" method="post">  @*önce form action =# diyoduk çalışmadı şimdi ise form action
        newsletter içindeki subscribemaile yönlendir
    *@
        <input type="email" placeholder="Email" required="" name="mail">
        <input type="submit" value="Abone Ol">

    </form>

</div>
